body {
	margin: 0;
	height: 100%;
}


#wrapper{
	min-height: 100%;
	margin-bottom: -100px;
}

#Logo{
	margin-left: 3%;
	float: left;
}

#Logo img{
	margin-top: 25px;
	margin-left: 7.5%;
}

.search{
	float: right;
	margin-right: 50px;
}

.search_btn{
	background: none;
	border: none;

}

#banner{
	width: 100%;
	height: 76px;

}

#menu{
	width: 100%;
	height: 50px;
	background-color: #B653D4;
}

#menuList{
	position: absolute; /* 定位：position ; fix固定 依附位置做絕對位置 */
	height: 100px;
	margin-left: 10%;
}



.active{
	background-color: red;
}

#menuList, #menuList ul{
	list-style: none;
	padding: 0;
	margin-top: 0;
	font-size: 20px;
}

#menuList li{
	border-right: 1px solid #ffffff;
	float: left;
	width: 120px;

}

#menuList a{
	color: #ffffff;
	display: block;
	text-decoration: none;
	text-align: center;
	width: 130px;
	margin-top: 5px;
}

#menuList li ul{
	position: absolute;  /* 位置是絕對位置 */
	left: auto; /* 對於絕對位置元素, 會依內容需要的寬度來設置 */
	width: 100px;
}

.submenu{
	width: 120px;
	background-color: #B653D4; 
}










#content{
	min-height: 100%;
}



#news_items{
	background-color: #000000;
	width: 100%;
	min-height: 200px;
	overflow-y: hidden;
}

#big_new{
	margin-left: 10%;
	float: left;
	width: 50%;
	display: flex;
}

#big_new img{
	width: 100%;
}

#small_news{
	width: 30%;
	float: right;
	
}

#small_news img{
	width: 260px;
}	

.news_section{
	margin-top: 25px;
	padding-bottom: 35px;
	min-height: 300px;
}

.section_title{
	text-align: center;
	margin-bottom: 20px;

}

.section_title a{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	border-bottom: 2px solid #000000;
}


.section_socials{
	width: 100%;
	height: 80px;
	border-bottom: 3px solid #F736AC;
	margin-bottom: 5px;
	/* background-color: #712FD6; */


}

.wonderful_show{
	border-bottom: 5px solid black;
	width: 100%;
	height: 50px;
	background-color: #FA7141;

}

.today_weather{
	float: left;
	width: 200px;
	height: 50px;
	margin-left: 5%;
	margin-top: 15px;
	/* background-color: #E7A0FA; */
}

.today_weather img{
	width: 30px;
	height: 30px;
}


.socials{
	font-size: 20px;
	width: 500px;
	float: right;
	margin-right: 5%;
	margin-top: 15px;
	/* background-color: #E7A0FA; */
}



.tvbs_content{
	min-height: 750px;
	width: 100%;
	background-color: #48FABD;
}


.tvbs_left_item{
	width: 60%;
	min-height: 500px;
	margin-left: 40px;
	float: left;
	background-color: #8E90DE;
}

.left_item_left{
	width: 500px;
	height: 250px;
	float: left;
	background-color: #FFF632;
}

.left_item_left img{
	width: 100%;
	height: 100%;
}

.left_item_right{
	width: 500px;
	height: 250px;
	float: right;
	background-color: #FFF632;	
}

.left_item_right img{
	width: 100%;
	height: 100%;
}

#left_item_time{
	background: url(https://cc.tvbs.com.tw/portal_production/2022/images/Icon-clock.svg) center;
}


.tvbs_right_item{
	width: 35%;
	min-height: 500px;
	margin-right: 40px;
	float: right;
	background-color: #E0FFA3;
}

.sub_card_text{
	border-bottom: 2px solid #36040B;

}

/* 熱門議題 */
#hot_focus{
	width: 100%;
	min-height: 200px;
	background-color: #002FC0;
}

.hot_title{
	width: 100%;
	height: 50px;
	color: #ffffff;
}

.isuue_title{
	float: left;
}

.isuue_title p{
	font-size: 22px;
	font-weight: bold;
	margin-left: 100px;
	margin-top: 20px;

}

.all_issue{
	float: right;
	margin-right: 100px;
	margin-top: 20px;

}

/* 熱門議題區塊 */
#hot_news_items{
	width: 90%;
	height: 100px;
	margin-left: 100px;
	background-color: #4F9BF8;

}

/* 熱門議題 */
.hot_news_item{
	width: 15%;
	height: 100px;
	margin-right: 100px;
	background-color: #BA4FF8;
	float: left;

}


#programme_items{
	width: 100%;
	min-height: 500px;
}

.programme_item{
	width: 100%;
	height: 80px;
	background-color: #EC3DF6;
}

.programme_content{
	width: 100%;
	height: 50px;
	border-bottom: 5px solid black;
}



.programme_content{
	width: 90%;
	margin-left: 100px;
	min-height: 300px;
	background-color: #F5A9C7;
}

.programme_img{
	width: 200px;
	margin-left: 100px;
	float: left;

}

.programme_img img{
	width: 100%;
	height: 100%;
}

.left_item{
	width: 35%;
	min-height: 200px;
	background-color: #C6FF33;
	float: left;
}

.right_item{
	width: 65%;
	min-height: 200px;
	background-color: #938EDE;
	float: right;	
}



#more_programme{
	width: 100%;
	min-height: 200px;
	background-color: #1E1DE0;
}

.drama{
	width: 90%;
	min-height: 400px;
	margin-left: 100px;
	background-color: #F5A9C7;
}


#drama_Img{
	width: 50%;
	height: 400px;

	float: left;
	background-color: #EBB757; 
}

#drama_Img img{
	width: 100%;
	height: 100%;
}

#drama_content{
	width: 48%;
	height: 400px;
	float: right;
	background-color: #DBFFA8; 
}

#drama_content p{
	font-size: 18px;
}


.more_drama{
	width: 90%;
	min-height: 300px;
	background-color: #FF3C4B;
	margin-left: 100px;
}

#company_dynamic{
	width: 100%;
	min-height: 500px;
	background: url(https://cc.tvbs.com.tw/portal_production/2022/images/post-banner.png) center no-repeat;
	background-size: cover;
	margin-top: 50px;

}

.company_news{
	width: 200px;
	height: 200px;
	background-color: #40FFFE;
	float: left;
	margin-left: 12%;
}

.company_news p{
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
	/* color: #ffffff; */
	top: 50%;
}


/* 底部 */
#footer{
	width: 100%;
	min-height: 100px;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	clear: both;
	line-height: 100px;
}

.tvbs_left_footer{
	width: 40%;
	float: left;
	height: 50px;
	background-color: #37A5FA;
}

.tvbs_right_footer{
	width: 60%;
	min-height: 50px;
	float: right;
	background-color: #FA522A;
}